.main-card {
  background-color: blue;
}
.custom-tab-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
  height: auto;
  padding: 8px;
  background-color: #f1f1f1;
  border-radius: 8px;
  font-size: 14px;
}
.custom-tab-bar .nav-link.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  white-space: nowrap;
  background-color: #3b82f6; /* kode warna biru-nya */
  border-radius: 30px; /* untuk membuat sudut bulat */
}

.custom-tab-bar .nav-link {
  display: flex;
  width: 7rem;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: transparent; /* Warna latar belakang tab aktif */
  border-radius: 8px;
  border-radius: 30px; /* untuk membuat sudut bulat */
  color: #3b82f6;
  height: 2.5rem;
}

.custom-tab-bar .nav-link:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  white-space: nowrap;
  background-color: #3b83f680; /* kode warna biru-nya */
  border-radius: 30px; /* untuk membuat sudut bulat */
}

.select {
  height: 3rem;
}

.select-janji {
  width: 100%;
  height: 2.5rem;
  position: relative;
}

.select-janji-btn {
  padding: 15px 20px;
  background-color: #3b82f6;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-janji-content {
  position: absolute;
}

.date {
  font-size: 0.875rem; /* Setara dengan text-[14px] */
  justify-content: center;
  padding-left: 1rem; /* Setara dengan px-4 */
  padding-right: 1rem; /* Setara dengan px-4 */
  padding-top: 1rem; /* Setara dengan py-4 */
  padding-bottom: 1rem; /* Setara dengan py-4 */
  margin-top: 1rem; /* Setara dengan mt-4 */
  width: 100%;
  font-size: 0.75rem; /* Setara dengan text-xs */
  white-space: nowrap;
  border-radius: 0.375rem; /* Setara dengan rounded */
  border-width: 1px; /* Setara dengan border */
  border-style: solid; /* Setara dengan border-solid */
  border-color: #cbd5e1; /* Setara dengan border-neutral-400 */
  color: #a0aec0; /* Setara dengan text-neutral-400 */
}
