.nav {
  display: flex;
  justify-content: space-around;
}

.navitem {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
}

.sticky-text {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: green;
  border: 2px solid #4caf50;
}
