@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

/* styles for large screens */
@media (min-width: 1024px) {
  body {
    width: 1024px;
    margin: 0 auto;
    padding: 0;
  }
}

/* styles for medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    width: 768px;
    margin: 0 auto;
    padding: 0;
  }

  * {
    padding: 0;
    border: 1px solid black;
  }
}

/* styles for small screens and mobile devices */
@media (max-width: 767px) {
  body {
    padding: 0;
    width: 100%;
  }
  .sidebar {
    height: 80px;
    width: 100%;
    padding: 16px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    z-index: 9999;
  }
  .slick-slide > div {
    margin: 0 10px;
  }
}
